.footer {
  text-align: center;
  font-size: 14px;
  color: rgb(0, 0, 0);
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Social Icons */
.icon {
  font-size: 20px;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

.icon:hover {
  color: #000000; /* Blue hover effect */
}
